*{
    box-sizing: border-box;
}

#top_menu {
    background-color:#EFEFEF;
}

.navbar-nav {
    margin: auto;
}

#logo {
    padding: 2% 0.5%;
}

.kva {
    border-radius: 1.2rem;
    border: 0.2rem solid green;
}

.logo_img {
    margin-right: 1rem;
}

.col_in1 {
    text-align: left;
}

.col_in1 span {
    font-size: 2.5rem;
    letter-spacing: 0.8rem;
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(102, 192, 93);
    padding-top: 0.5rem;
    position: absolute;
}

.col_in2 {
    text-align: right;
}

.col_in2 span {
    letter-spacing: 0.2rem;
    margin-right: 1rem;
}

#middle_menu {
    padding: 1%;
}

#bg_img {
    background-image: url(../images/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 500px;
    color: #fff;
    padding: 3% 15%;
} 

.bg_text {
    margin-left: 12rem;
    margin-top: 8rem;
}

.bg_text p{
    max-width:20rem;
}

.bg_text .btn {
    border: solid #fff 2px;
    color: #fff;
    border-radius: 25px;
}

.bg_text .btn:hover {
    background-color: #fff;
    color: black;
}

#price {
    background-color: #EFEFEF;
    padding: 5%;
}

#price h3 {
    padding-left: 3%;
}

.price_box {
    padding: 4%;
    text-align: center;
}

.price_in_box {
    background-color: #fff;
    padding: 3%;
}

.text_price .btn:hover{
    background-color: #fff;
    color: black;
}

#two_box {
    padding: 3%;
    text-align: center;
    
}

.qator {
    text-align: left;
    background-color: #66C05D;
    margin: 0.5rem;
    padding: 3%;
    min-height: 13rem;
    color: #fff;
}

.qator_ichida .btn {
    padding: 0.5rem 4rem 0.5rem 4rem;
    background-color: #66C05D;
    border:solid 2px #fff;
}

.qator_ichida .btn:hover {
    color: black;
    background-color: blanchedalmond;

}

#icon {
    text-align: center;
    background-color: #EFEFEF;
    padding: 3%;
}

.input_btn{
    border-radius: 25px;
    border: solid 2px #fff;
}

.myicon {
    color: #66C05D;
    padding: 0.5rem;
}

a .myicon:hover {
    color: darkblue;
}

#icon .btn {
    border-radius: 20px;
    margin-left: 0.5rem;
}